.search-form {
  padding: 70px 0;
  margin: 0 70px;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__container {
  max-width: 1140px;
  width: 100%;
  background: transparent;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.search-form__wrapper {
  padding: 25px 19px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__field {
  margin: 0 0 0 10px;
  padding: 0 19px 0 0;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-form__icon {
  background: url('./../../images/searchform/search.svg') no-repeat;
  width: 34px;
  height: 34px;
  background-position: center;
}

.search-form__input {
  width: calc(100% - 35px);
  border: none;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Inter', 'Serif', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.search-form__input:focus {
  border-bottom: 1px solid #CBCBCB;
}

.search-form__button {
  border: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  background: url('./../../images/searchform/find.svg') no-repeat #ff6838;
  background-size: 22px 22px;
  width: 34px;
  height: 34px;
  background-position: center;
  border-radius: 48px;
}

.search-form__button_disabled {
  background-color: #e98d71;
}

.search-form__checkbox-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 210px;
  width: 100%;
  border-left: 1px solid #CBCBCB;
}

.search-form__error {
  margin: -12px 0 0 60px;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

@media screen and (max-width: 1024px) {
  .search-form {
    margin: 0 45px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 80px 0 109px;
    margin: 0 30px;
  }
}

@media screen and (max-width: 645px) {
  .search-form {
    margin: 0 20px;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__wrapper {
    padding: 19px;
    flex-direction: column;
    align-items: center;
  }

  .search-form__checkbox-wrapper {
    margin: 65px 0 0;
    position: absolute;
    top: 205px;
    border-left: none;
  }
}

@media screen and (max-width: 540px) {
  .search-form {
    margin: 0 10px;
  }

  .search-form__input {
    font-size: 14px;
    line-height: 20px;
  }
}
